body {

    color: rgb(206, 12, 12);
    text-align: center;
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#paginainicio {
    color: coral;
}

#paginacolor {
    color: rgb(255, 0, 21);
}

#cabecera {
    background: rgb(189, 104, 111);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 1em;
}

#cabecera #logo {
    width: 50px;
    vertical-align: middle;
}

#cabecera #tagline {
    padding: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8em;
}

#colorrojo {
    color: crimson;
}

#colorverde {
    color: rgb(40, 20, 219);
}

#cabeceracolor {
    background: rgb(62, 64, 184);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 1em;
}
#cabeceracolor #logox {
    width: 50px;
    vertical-align: middle;
}
#cabeceracolor #taglines {
    padding: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8em;
}

#coloramarillo {
    color: rgb(50, 20, 220);
}

#colorazul {
    color: rgb(28, 18, 165);
}
#footer {
    background: rgb(231, 35, 35);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 5px;
}
#footer1 {
    background: rgb(35, 5, 167);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 5px;
}